* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    width: 100%;
    align-items: center;
    padding: 20px 60px;
    background-color: rgb(30, 26, 68);
    position: relative;
    z-index: 10;
}

.logo {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    color: gold;
}

.navlinks {
    display: flex;
    list-style: none;
    gap: 30px;
}

.navlinks li a {
    text-decoration: none;
    color: gold;
    font-weight: 500;
}

.hamburger {
    display: none;
    font-size: 30px;
    color: gold;
    cursor: pointer;
}

.hero {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    background-image: url(images/beer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 2;
    text-align: center;
}

.baslik {
    margin-bottom: 0px;
    font-size: 60px;
}

.p1 {
    font-style: normal;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 40px;
}

button {
    background-color: white;
    color: rgb(30, 26, 68);
    font-size: 20px;
    font-weight: bold;
    border: none;
    padding: 15px 30px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.1s ease, transform 0.2s ease;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

button:hover {
    transform: scale(1.2);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}

button:active {
    transform: scale(1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.);
}

.google-review {
    background-color: rgb(30, 26, 68);
    color: gold;
    padding: 40px 20px;
    text-align: center;
    font-family: Georgia, serif;
}

.review-button {
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    background: gold;
    color: rgb(30, 26, 68);
    border: none;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;

}



.google_map {
    margin-top: 40px;
    text-align: center
}

.location {
    background-color: rgb(30, 26, 68);
    color: gold;
    text-align: center;
}

.map {
    border: 0;
    max-width: 100%" allowfullscreen=" " loading=" lazy"
 referrerpolicy="no-referrer-when-downgrade"
    
}

@media (max-width: 768px) {
    .navbar {
        padding: 15px 20px;
    }

    .navlinks {
        position: absolute;
        top: 60px;
        right: 0;
        background-color: rgb(30, 26, 68);
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 20px 30px;
        display: none;
        /* Başlangıçta gizli */
        gap: 15px;
        z-index: 20;
    }

    .navlinks.active {
        display: flex;
    }

    .hamburger {
        display: block;
        font-size: 30px;
        color: gold;
        cursor: pointer;
        user-select: none;
    }

    .baslik {
        font-size: 40px;
        margin-bottom: 10px;
    }

    .p1 {
        font-size: 30px;
        margin-bottom: 15px;
    }

    button {
        font-size: 16px;
        padding: 12px 25px;
        border-radius: 12px;
        margin-top: 10px;
    }
}
